.dld_btn {
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 1.8rem;
    line-height: 24px;
    margin: 0 5px 0 0;
    padding: 0 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
}

.dld_btn:hover {
    background: #ebebeb;
    border-color: #adadad;
    color: #333;
    text-decoration: none;
}

.dld_type_btn {
  background: #fdfdfd;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  display: inline-block;
  border-radius: 0.1rem;
  font-size: 12px;
  font-weight: bold;
  height: 1.8rem;
  line-height: 24px;
  margin: 0 0.2rem 0 0;
  padding: 0 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
}

.dld_type_btn:hover {
  background: #ebebeb;
  border-color: #adadad;
  color: #333;
  text-decoration: none;
}

.dld_input {
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    margin: 0 5px 0 0;
    padding: 0 5px;
    text-decoration: none;
    white-space: nowrap;
}

.dld_base_div {
  border: 1px solid #aaa;
  border-radius:0.4rem;
  padding:0.3rem;
  width:98%;
}

.file_grid_div {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 5 columns of equal width */
  grid-gap: 0.5rem; /* Space between grid items */
  /* Add other styling as needed */
}

.grid_file_button {
  /* Styles for buttons */
  padding: 0.3rem;
  margin: 0;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  height:4.2rem;
  border-radius: 0.2rem;
  overflow: hidden;
  display: inline-block;
  /* Add other styling as needed */
}

.grid_file_button:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

.grid_tag_button {
  /* Styles for buttons */
  padding: 0.2rem 0.6rem;
  margin: 0;
  margin-bottom: 0.4rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  height:1.6rem;
  border-radius: 0.2rem;

  /* Add other styling as needed */
}

.grid_tag_button:hover {
  background-color: #ebebeb;
  cursor: pointer;
  /* Add other styling as needed */
}

.grid_folder_tag_button {
  /* Styles for buttons */
  padding: 0.1rem 0.3rem;
  margin: 0;
  margin-bottom: 0.2rem;
  margin-right: 0.3rem;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  height:1.4rem;
  border-radius: 0.2rem;
  /* Add other styling as needed */
}

.grid_folder_tag_button:hover {
  background-color: #ebebeb;
  cursor: pointer;
  /* Add other styling as needed */
}

/* -----------------------------------------------------------scroll bar style---------------------------------------------------- */
/* width */
::-webkit-scrollbar {
    width: 4px;
    border-radius: 0.2rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #dddddd;   
    border-radius:0.2rem;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(164, 164, 164); 
    border-radius:0.2rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888; 
  }